extends ../layout


block content
  h1= "Add a Product"
  form(method="POST", action="/products/add")
    #form-group
      label Name :
      input.form-control(name= "name", type="text")
    #form-group
      label Price:
      input.form-control(name= "price", type="text")
      br
    input.btn.btn-primary(type="submit", name='agreement', value="Submit")