extends ../layout


block content
  h1= "Add a Product"
  form(method="POST", action="/products/add")
    #form-group
      label Name :
      input.form-control(name= "name", type="text")

    #form-group
      label Price:
      input.form-control(name= "price", type="text")
    
    #form-group
      label Store Name:
      input.form-control(name= "storeName", type="text")
      input.form-control(name= "storeID", type="hidden")
    
    #form-group
      label Price:
      input.form-control(name= "price", type="text")

    #form-group
      label productPrice:
      input.form-control(name= "price", type="text")

    #form-group
      label Date:
      input.form-control(name= "priceDate", type="text")

    #form-group
      label Availability:
      input.form-control(name= "productAvailability", type="text")

    #form-group
      label Barcode:
      input.form-control(name= "barcode", type="text")
    
    #form-group
      label About:
      input.form-control(name= "description", type="text")



 
    






      br
    input.btn.btn-primary(type="submit", name='agreement', value="Submit")